 <!-- ========================= Main ==================== -->
 <div class="main">
    <div class="topbar">
        <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
        </div>

        <div class="search">
            <label>
                <input type="text" placeholder="Buscar...">
                <ion-icon name="search-outline"></ion-icon>
            </label>
        </div>

        <div class="user">
            <img *ngIf="userPhoto" [src]="userPhoto" alt="Foto del usuario" class="user-photo" />
          </div>
          
    </div>