<section class="beaglematch-section">
  <div class="image">
    <img src="https://i.gifer.com/U2B8.gif" alt="Mascotas haciendo match" />
  </div>

  <div class="content">
    <h2> ¡Encuentra al match perfecto para tu mascota!</h2>
    <img class="heart-icon" src="https://i.pinimg.com/originals/29/57/f7/2957f7c7d2ef62de281dac2765bb7acb.gif" alt="Gif Corazon" />

    <p class="intro-text">✨ Conoce nuestra nueva funcionalidad ✨</p>
    <p class="description">
      Podrás filtrar y encontrar un compañero ideal para tu mascota, todo con la ayuda de <strong>BeagleMatch</strong>.
    </p>
        <a class="btn-primary" routerLink="/match-page">Probar BeagleMatch</a>
  </div>
</section>
