

<section class="cupon-container">
    <div class="huellas-fondo">
        <img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f43e.png" class="huella huella1" />
        <img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f43e.png" class="huella huella2" />
        <img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f43e.png" class="huella huella3" />
      </div>
      <div class="cupon-card">
        <h3 class="cupon-titulo">Cupones de descuento</h3>
        <p class="cupon-texto">
          Haz click sobre el cupón y preséntalo en tu próxima visita para obtener descuentos en tu servicio.
        </p>
          <a href="https://drive.google.com/uc?export=download&id=1irOF95cR8UbDcV3J8b1UBk3nnfECiSI8" download="cupon-descuento.pdf">
          <img src="https://i.postimg.cc/zBTMcdL0/cupon1.jpg" alt="Cupón de descuento" class="cupon-img" />
          <img src="https://i.postimg.cc/6QBfd7KQ/cupon333-removebg-preview.png" alt="Cupón de descuento" class="cupon-img" />
        </a>
      </div>

  </section>