<div class="cardBox">
    <div class="card">
        <div class="content">
            <div class="numbers">5</div>
            <div class="cardName">Veterinarios</div>
        </div>
        <div class="iconBx vet-icon">
            <img src="https://i.postimg.cc/QxYwHPL0/veterinario.png" alt="Veterinarios">
        </div>
    </div>


    <div class="card">
        <div class="content">
            <div class="numbers">5</div>
            <div class="cardName">Veterinarios</div>
        </div>
        <div class="iconBx vet-icon">
            <img src="https://i.postimg.cc/QxYwHPL0/veterinario.png" alt="Veterinarios">
        </div>
    </div>


    <div class="card">
        <div class="content">
            <div class="numbers">5</div>
            <div class="cardName">Veterinarios</div>
        </div>
        <div class="iconBx vet-icon">
            <img src="https://i.postimg.cc/QxYwHPL0/veterinario.png" alt="Veterinarios">
        </div>
    </div>


    <div class="card">
        <div class="content">
            <div class="numbers">5</div>
            <div class="cardName">Veterinarios</div>
        </div>
        <div class="iconBx vet-icon">
            <img src="https://i.postimg.cc/QxYwHPL0/veterinario.png" alt="Veterinarios">
        </div>
    </div>


    <div class="card">
        <div class="content">
            <div class="numbers">5</div>
            <div class="cardName">Veterinarios</div>
        </div>
        <div class="iconBx vet-icon">
            <img src="https://i.postimg.cc/QxYwHPL0/veterinario.png" alt="Veterinarios">
        </div>
    </div>

    <div class="card">
        <div class="content">
            <div class="numbers">5</div>
            <div class="cardName">Veterinarios</div>
        </div>
        <div class="iconBx vet-icon">
            <img src="https://i.postimg.cc/QxYwHPL0/veterinario.png" alt="Veterinarios">
        </div>
    </div>

    <div class="card">
        <div class="content">
            <div class="numbers">2</div>
            <div class="cardName">Citas</div>
        </div>
        <div class="iconBx">
            <img src="https://i.postimg.cc/m2gKZ4nP/revision-medica.png" alt="Citas">
        </div>
    </div>
</div>
