/* Contenedor principal */
.vet-detail-container {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

/* Tarjeta del veterinario */
.vet-detail-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(145deg, #b3e0ff, #99c2ff); /* Gradiente suave */
    border-radius: 12px;
    padding: 40px;
    max-width: 1200px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

/* Título */
.vet-detail-card h1 {
    color: #205375;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 4px solid #40A8C4;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
}

/* Contenido */
.vet-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* Imagen del veterinario */
.vet-img-container {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #1d95db;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    background: #f2faff;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vet-img-container:hover {
    transform: scale(1.05); /* Efecto hover */
}

.vet-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Datos del veterinario */
.vet-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.vet-field {
    background-color: #1d95db; /* Azul para los ítems */
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vet-field:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.vet-label {
    font-size: 16px;
    font-weight: bold;
    color: #F0F8FF;
    display: block;
    margin-bottom: 5px;
}

.vet-value {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

/* Responsive */
@media (max-width: 1024px) {
    .vet-detail-card {
        width: 90%;
        padding: 30px;
    }

    .vet-content {
        flex-direction: column;
        align-items: center;
    }

    .vet-img-container {
        width: 160px;
        height: 160px;
    }

    .vet-data {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .vet-detail-card {
        padding: 20px;
    }

    .vet-img-container {
        width: 140px;
        height: 140px;
    }

    .vet-data {
        gap: 20px;
    }
}
