<section class="beaglematch-section">
  <div class="image">
    <img src="https://www.clipartmax.com/png/full/291-2916631_perros-animados-png-sin-fondo-dog-thank-you-gifs.png" alt="Mascotas haciendo match" />
  </div>

  <div class="content">
    <h2>🐾 ¡Encuentra el Match Perfecto para tu Mejor Amigo Peludo! 🐾</h2>
    <img class="heart-icon" src="https://i.pinimg.com/originals/29/57/f7/2957f7c7d2ef62de281dac2765bb7acb.gif" alt="Gif Corazon" />

    <p class="description">
      ¿Listo para descubrir a esa raza que hará latir fuerte el corazón de tu mascota? Con <strong>BeagleMatch</strong>, filtrar y encontrar el compañero ideal es tan fácil como un meneo de cola.
    </p>
    <p class="tagline">
      Amor, diversión y amistad comienzan aquí. ¡Tu próximo mejor amigo te está esperando!
    </p>
  </div>
</section>
