<section class="contact-section">
  <div class="contact-grid">

    <!-- Mapa simulado -->
    <div class="map-container">
      <div class="map">
        <div class="vet-marker" data-name="Los Pinos" style="top: 59%; left: 30%;"></div>
        <div class="vet-marker" data-name="Patitas Felices" style="top: 33%; left: 71%;"></div>
        <div class="vet-marker" data-name="Huellas" style="top: 89%; left: 67%;"></div>
      </div>
    </div>

    <!-- Formulario de contacto -->
    <div class="contact-form-container">
      <h2>Contáctanos</h2>
      <p class="subtitle">¿Necesitas ayuda? Escríbenos un mensaje y nos contactaremos contigo lo más antes posible.</p>

    <form class="contact-form" #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm.value, contactForm)" novalidate>
        <input
          name="name"
          type="text"
          placeholder="Tu nombre"
          ngModel
          required
        />
        <input
          name="email"
          type="email"
          placeholder="Tu correo electrónico"
          ngModel
          required
        />
        <input
          name="title"
          type="text"
          placeholder="Asunto"
          ngModel
          required
        />
        <textarea
          name="message"
          placeholder="Tu mensaje..."
          ngModel
          required
        ></textarea>
        <button type="submit" class="submit-btn" [disabled]="!contactForm.valid">Enviar</button>
      </form>

    </div>

  </div>
</section>
