 <!-- ======================= Cards ================== -->
 <div class="cardBox">


    <div class="card">
        <div>
            <div class="numbers">{{ cantidadMascotas }}</div>
            <div class="cardName">Mascotas</div>
          </div>
          
        <div class="iconBx pet-icon">
            <ion-icon name="paw-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">8</div>
            <div class="cardName">Veterinarios</div>
        </div>

        <div class="iconBx vet-icon">
            <ion-icon name="medkit-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">24</div>
            <div class="cardName">Citas Hoy</div>
        </div>

        <div class="iconBx">
            <ion-icon name="calendar-outline"></ion-icon>
        </div>
    </div>
</div>