<app-header></app-header> 

<div class="spotify-wrapper">
  <div class="title-with-gif">
    <h2><br>Playlist para tu mascota</h2>
    <img src="https://cdn-icons-gif.flaticon.com/11974/11974864.gif" alt="Mascota bailando" class="gif-icon">
  </div>

  <iframe 
    class="spotify-iframe"
    src="https://open.spotify.com/embed/playlist/37i9dQZF1E4v5mZ8sUrVkM?utm_source=generator"
    width="100%" 
    height="450"
    frameborder="0" 
    allowfullscreen 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy">
  </iframe>
</div>

<app-footer></app-footer>
