<app-header></app-header>

<main>
  <h2>Beagle Match</h2>

  <div class="filtros">
    <label>
      Edad mínima:
      <input type="number" [(ngModel)]="filtros.edadMin" placeholder="Ej. 1" />
    </label>

    <label>
      Edad máxima:
      <input type="number" [(ngModel)]="filtros.edadMax" placeholder="Ej. 10" />
    </label>

    <label>
      Raza:
      <select [(ngModel)]="filtros.raza">
        <option value="">Todas</option>
        <option value="Beagle">Beagle</option>
        <option value="Boxer">Boxer</option>
        <option value="Bulldog">Bulldog</option>
        <option value="Bulldog Francés">Bulldog Francés</option>
        <option value="Chihuahua">Chihuahua</option>
        <option value="Dálmata">Dálmata</option>
        <option value="Golden Retriever">Golden Retriever</option>
        <option value="Husky">Husky</option>
        <option value="Labrador">Labrador</option>
        <option value="Pastor Alemán">Pastor Alemán</option>
        <option value="Pastor Belga">Pastor Belga</option>
        <option value="Poodle">Poodle</option>
        <option value="Shiba Inu">Shiba Inu</option>
      </select>
    </label>

    <label>
      Peso máximo (kg):
      <input type="number" [(ngModel)]="filtros.pesoMax" placeholder="Ej. 20" />
    </label>

    <button (click)="aplicarFiltros()">Filtrar</button>
    <button (click)="limpiarFiltros()">Limpiar filtros</button>
  </div>

  <div *ngIf="mascotasFiltradas.length > 0; else noMascotas">
    <div class="card">
      <img [src]="mascotasFiltradas[indiceActual].foto" alt="{{mascotasFiltradas[indiceActual].nombre}}" />
      <h3>{{ mascotasFiltradas[indiceActual].nombre }}</h3>
      <p>{{ mascotasFiltradas[indiceActual].raza }} - {{ mascotasFiltradas[indiceActual].edad }} años - {{ mascotasFiltradas[indiceActual].peso }} kg</p>
      <button (click)="mostrarMascota(mascotasFiltradas[indiceActual].idMascota)">Ver detalles</button>

      <div class="acciones">
        <button (click)="noMeGusta()">❌ No me gusta</button>
        <button (click)="meGusta()">❤️ Me gusta</button>
      </div>
    </div>
  </div>

  <ng-template #noMascotas>
    <p>No hay mascotas para mostrar.</p>
  </ng-template>
</main>
