<h1>{{title}}</h1>
<!--Agregando componente del Header-->
<app-header></app-header>
<app-mascota-table></app-mascota-table>


<div [ngSwitch]="userType">

  <ng-container *ngSwitchCase="'Cliente'">
    <a>Acciones básicas</a>
  </ng-container>

  <ng-container *ngSwitchCase="'Veterinario'">
    <a>Acciones Profesor</a>
  </ng-container>

  <ng-container *ngSwitchCase="'Administrador'">
    <a [routerLink]="['/home']">Acciones básicas</a>
    <a [routerLink]="['/admin']">Acciones Profesor</a>
    <a [routerLink]="['/admin']">Acciones Administrador</a>
  </ng-container>

</div>

