<div class="landing-intro">
  <div class="intro-text">
    <h2>¿Cómo podemos ayudarte?</h2>
    <p>
      Somos una reconocida clínica veterinaria que cuenta con 3 sedes en la ciudad de Bogotá. 
      Contamos con los equipos necesarios y personal médico profesional capacitado para aplicar 
      la filosofía del problema orientado al diagnóstico, buscando siempre mejorar y ayudar a 
      las mascotas y sus propietarios.
    </p>
    <p>
      Además, contamos con un amplio portafolio de servicios para mascotas, desde consultas 
      veterinarias hasta medicina prepagada para mascotas.
    </p>
    <p><strong>Dr. Luis Eduardo Restrepo</strong></p>
     <!-- Botón de "Leer más aquí" con la URL deseada -->
    <a href="http://localhost:4200/clientes-destacados" class="btn-leer-mas">Leer más aquí</a>
  </div>
  <div class="intro-image">
    <img src="https://img1.picmix.com/output/stamp/normal/2/9/7/8/1718792_e0437.gif" alt="Perro animado" />
  </div>
</div>
