<div class="tienda-container">
  <h1 class="titulo-tienda">🐾 Bienvenidos a PetCare Store 🐾</h1>
  <h2 class="subtitulo-tienda">Productos para perros y gatos con amor 💙</h2>

  <div class="productos-grid">
    <div *ngFor="let producto of productos">
      <div *ngIf="producto.images && producto.images.length > 0" class="producto-card">
        <img [src]="producto.images[0]" alt="{{ producto.name }}" class="producto-imagen" />
        <h3 class="producto-nombre">{{ producto.name }}</h3>
        <!-- Mostrar precio convertido en COP -->
        <p class="producto-precio">{{ producto.PriceCOP | currency:'COP':'symbol':'1.0-0' }}</p>
      
            <!-- Ícono corazón -->
      <button class="btn-favorito" (click)="toggleFavorito(producto)">
        <svg *ngIf="!esFavorito(producto)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="#186ba8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 1 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
        </svg>

        <svg *ngIf="esFavorito(producto)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#186ba8" stroke="#186ba8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 1 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/>
        </svg>
    </button>

    </div>
    </div>
  </div>
</div>
