<div class="beaglestore-container">
  <div class="left-section">
    <h1>BeagleStore</h1>
    <p class="subtitle">
      Conoce los productos que solo puedes adquirir en nuestras tiendas.
    </p>
    <button (click)="goToProductos()">Ver productos</button>
    <img
      class="store-image"
      src="https://i.postimg.cc/sgH6dyYT/Whats-App-Image-2025-05-24-at-11-30-56-AM.jpg"
      alt="Imagen tienda BeagleStore"
    />
  </div>

  <div class="right-section">
    <h2>Nuestras Sedes</h2>
    <div class="sede-card" *ngFor="let sede of sedes">
      <img class="sede-img" [src]="sede.image" [alt]="sede.name" />
      <div class="sede-info">
        <h3>{{ sede.name }}</h3>
        <p class="description">{{ sede.description }}</p>
        <p class="address">{{ sede.address }}</p>
      </div>
    </div>
  </div>
</div>
