<app-navegacion></app-navegacion>

<div class="main">
  <div class="topbar">
    <div class="user">
      <img src="https://portal.unbosque.edu.co/sites/default/files/inline-images/en-que-puede-trabajar-un-administrador-de-empresas.jpg" alt="Usuario">
    </div>
  </div>

  <main class="container-principal">
    <h1>Lista de Medicamentos</h1>


    <!-- Buscador de medicamentos -->
    <div class="buscador">
      <input
        type="text"
        [(ngModel)]="nombreMedicamentoBuscar"
        placeholder="Buscar medicamento por su nombre..."
        class="input-busqueda"
        style="padding: 12px; font-size: 18px; border-radius: 25px; border: 1px solid #ddd; width: 80%; outline: none; transition: all 0.3s ease;"
      />
      <button
        (click)="buscarMedicamento()"
        class="btn-buscar"
        style="background-color: #5cadf4; color: white; padding: 8px 18px; border-radius: 20px; font-size: 14px; border: none; cursor: pointer;">
        Buscar
      </button>
    </div>


       <!-- Filtro de ordenamiento alineado a la derecha -->
    <div style="display: flex; justify-content: flex-end; margin: 20px 0;">
      <select
        [(ngModel)]="opcionOrdenamiento"
        (change)="ordenarMedicamentos()"
        style="padding: 10px 20px; border-radius: 25px; font-size: 16px; border: 1px solid #ccc; cursor: pointer;">
        <option value="id">Ordenar por ID</option>
        <option value="precioCompraAsc">Precio Compra (Menor a Mayor)</option>
        <option value="precioCompraDesc">Precio Compra (Mayor a Menor)</option>
        <option value="precioVentaAsc">Precio Venta (Menor a Mayor)</option>
        <option value="precioVentaDesc">Precio Venta (Mayor a Menor)</option>
      </select>
    </div>

    <!-- Tabla de medicamentos -->
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID Medicamento</th>
            <th>Nombre</th>
            <th>Precio Compra</th>
            <th>Precio Venta</th>
            <th>Unidades Disponibles</th>
            <th>Unidades Vendidas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicamento of medicamentos">
            <td>{{ medicamento.idMedicamento }}</td>
            <td>{{ medicamento.nombre }}</td>
            <td>{{ medicamento.precioCompra | currency:'$' }}</td>
            <td>{{ medicamento.precioVenta | currency:'$' }}</td>
            <td>{{ medicamento.unidadesDisponibles }}</td>
            <td>{{ medicamento.unidadesVendidas }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
