<div class="navigation">
  <ul>
    <li>
      <a href="#" class="nav-link">
        <span class="icon">
          <ion-icon name="paw-outline"></ion-icon>
        </span>
        <span class="title">
          <img
            src="https://i.postimg.cc/4yjfvPcB/logo2.png"
            alt="Logo"
            class="nav-logo"
          />
          Beagle Giggle
        </span>
      </a>
    </li>

    <!-- Solo visible si el usuario es admin -->
    <li *ngIf="userType === 'Admin'">
      <a routerLink="/admin" class="nav-link">
        <!-- Cambié href por routerLink -->
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Dashboard</span>
      </a>
    </li>

    <!-- Solo visible si el usuario es admin -->
    <li *ngIf="userType === 'Admin'">
      <a routerLink="/medicamentos" class="nav-link">
        <!-- Cambié href por routerLink -->
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Medicamentos</span>
      </a>
    </li>

    <!-- Solo visible si el usuario es admin -->
    <li *ngIf="userType === 'Admin'">
      <a routerLink="/admin" class="nav-link">
        <!-- Cambié href por routerLink -->
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Tratamientos</span>
      </a>
    </li>
    <!-- Solo visible si el usuario es admin -->
    <li *ngIf="userType === 'Admin'">
      <a routerLink="/servicios" class="nav-link">
        <!-- Cambié href por routerLink -->
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Servicios</span>
      </a>
    </li>

    <!-- Solo visible si el usuario es admin o veterinario -->
    <li *ngIf="userType === 'Admin' || userType === 'Veterinario'">
      <a routerLink="/clientes" class="nav-link">
        <!-- Usé routerLink para la navegación interna -->
        <span class="icon">
          <ion-icon name="people-outline"></ion-icon>
        </span>
        <span class="title">Clientes</span>
      </a>
    </li>

    <!-- Solo visible si el usuario es admin o veterinario -->
    <li *ngIf="userType === 'Admin' || userType === 'Veterinario'">
      <a routerLink="/mascotas" class="nav-link">
        <span class="icon">
          <ion-icon name="paw-outline"></ion-icon>
        </span>
        <span class="title">Mascotas</span>
      </a>
    </li>

    <!-- Solo visible si el usuario es admin o veterinario -->
    <li *ngIf="userType === 'Admin'">
      <a routerLink="/veterinarios" class="nav-link">
        <span class="icon">
          <ion-icon name="medkit-outline"></ion-icon>
        </span>
        <span class="title">Veterinarios</span>
      </a>
    </li>

    <!-- Solo visible si el usuario es Veterinario 
    <li *ngIf="userType === 'Veterinario'">
      <a (click)="navegarTratamientosVeterinario()" class="nav-link" style="cursor: pointer;">
        <span class="icon">
          <ion-icon name="paw-outline"></ion-icon>
        </span>
        <span class="title">Tratamientos Realizados</span>
      </a>
    </li>-->
    
    <!-- Solo visible si el usuario es Veterinario -->
    <li *ngIf="userType === 'Veterinario'">
      <a routerLink="/mascotas-atendidas/2" class="nav-link">
        <span class="icon">
          <ion-icon name="document-text-outline"></ion-icon>
        </span>
        <span class="title">Mascotas atendidas</span>
      </a>
    </li>

    <!-- Solo visible si el usuario es Veterinario -->
    <li *ngIf="userType === 'Veterinario'">
      <a routerLink="/historial-tratamientos/2" class="nav-link">
        <span class="icon">
          <ion-icon name="document-text-outline"></ion-icon>
        </span>
        <span class="title">Historial</span>
      </a>
    </li>

    <!-- Siempre visible -->
    <li>
      <a routerLink="/citas-veterinario/2" class="nav-link">
        <span class="icon">
          <ion-icon name="settings-outline"></ion-icon>
        </span>
        <span class="title">Citas</span>
      </a>
    </li>

    <li>
      <a [routerLink]="getPerfilLink()" class="nav-link">
        <span class="icon">
          <ion-icon name="settings-outline"></ion-icon>
        </span>
        <span class="title">Perfil</span>
      </a>
    </li>

    <li *ngIf="userType === 'Cliente'">
      <a routerLink="/mascotas-cliente/2" class="nav-link">
        <span class="icon">
          <ion-icon name="paw-outline"></ion-icon>
        </span>
        <span class="title">Mascotas</span>
      </a>
    </li>

    <li *ngIf="userType === 'Cliente'">
      <a routerLink="/mascotas-tratamiento/2" class="nav-link">
        <span class="icon">
          <ion-icon name="paw-outline"></ion-icon>
        </span>
        <span class="title">Mascotas en tratamiento</span>
      </a>
    </li>
    <!-- Siempre visible (Cerrar sesión) -->
    <li (click)="logout()">
      <a href="#" class="nav-link">
        <span class="icon">
          <ion-icon name="log-out-outline"></ion-icon>
        </span>
        <span class="title">Cerrar Sesión</span>
      </a>
    </li>
  </ul>
</div>