<div class="navigation">
    <ul>
      <li>
        <a href="#" class="nav-link">
          <span class="icon">
            <ion-icon name="paw-outline"></ion-icon>
          </span>
          <span class="title">
            <img src="https://i.postimg.cc/4yjfvPcB/logo2.png" alt="Logo" class="nav-logo">
            Beagle Giggle
          </span>
        </a>
      </li>
  
      <!-- Solo visible si el usuario es admin -->
      <li *ngIf="userType === 'Admin'">
        <a href="#" class="nav-link">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
  
      <!-- Solo visible si el usuario es admin -->
      <li *ngIf="userType === 'Admin'">
        <a href="#" class="nav-link">
          <span class="icon">
            <ion-icon name="people-outline"></ion-icon>
          </span>
          <span class="title">Clientes</span>
        </a>
      </li>
  
      <!-- Solo visible si el usuario es admin o veterinario -->
      <li *ngIf="userType === 'Admin' || userType === 'Veterinario'">
        <a href="#" class="nav-link">
          <span class="icon">
            <ion-icon name="paw-outline"></ion-icon>
          </span>
          <span class="title">Mascotas</span>
        </a>
      </li>
  
      <!-- Solo visible si el usuario es admin o veterinario -->
      <li *ngIf="userType === 'Admin' || userType === 'Veterinario'">
        <a href="#" class="nav-link">
          <span class="icon">
            <ion-icon name="medkit-outline"></ion-icon>
          </span>
          <span class="title">Veterinarios</span>
        </a>
      </li>
  
      <!-- Solo visible si el usuario es admin o veterinario -->
      <li *ngIf="userType === 'Admin' || userType === 'Veterinario'">
        <a href="#" class="nav-link">
          <span class="icon">
            <ion-icon name="calendar-outline"></ion-icon>
          </span>
          <span class="title">Citas</span>
        </a>
      </li>
  
      <!-- Siempre visible -->
      <li>
        <a href="#" class="nav-link">
          <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="title">Configuración</span>
        </a>
      </li>
  
      <!-- Siempre visible (Cerrar sesión) -->
      <li (click)="logout()">
        <a href="#" class="nav-link">
          <span class="icon">
            <ion-icon name="log-out-outline"></ion-icon>
          </span>
          <span class="title">Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </div>
  