<!-- navigation.html -->
<div class="navigation">
    <ul>
        <li>
            <a href="#" class="nav-link">
                <span class="icon">
                    <ion-icon name="paw-outline"></ion-icon>
                </span>
                <span class="title">
                    <img src="https://i.postimg.cc/4yjfvPcB/logo2.png" alt="Logo" class="nav-logo">
                    Beagle Giggle
                </span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Clientes</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="icon">
                    <ion-icon name="paw-outline"></ion-icon>
                </span>
                <span class="title">Mascotas</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="icon">
                    <ion-icon name="medkit-outline"></ion-icon>
                </span>
                <span class="title">Veterinarios</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="icon">
                    <ion-icon name="calendar-outline"></ion-icon>
                </span>
                <span class="title">Citas</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Configuración</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Cerrar Sesión</span>
            </a>
        </li>
    </ul>
</div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Buscar...">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img *ngIf="userPhoto" [src]="userPhoto" alt="Foto del usuario" class="user-photo" />
                  </div>
                  
            </div>