<app-navegacion></app-navegacion>

<section class="tratamientos-veterinario">
  <h2>Tratamientos Veterinarios</h2>
  
  <div class="acciones-superiores">
    <button (click)="agregarTratamiento()" class="btn-agregar">Agregar nuevo tratamiento</button>
  </div>
  <div class="tratamientos-container">
    <div *ngIf="tratamientos && tratamientos.length > 0; else noTratamientos">
      <div class="tratamiento-card" *ngFor="let tratamiento of tratamientos">
        <div class="tratamiento-dato">
          <span class="tratamiento-label">Código:</span>
          <span class="tratamiento-info">{{ tratamiento.codigo }}</span>
        </div>
        <div class="tratamiento-dato">
          <span class="tratamiento-label">Fecha:</span>
          <span class="tratamiento-info">{{ tratamiento.fecha | date:'mediumDate' }}</span>
        </div>
        <div class="tratamiento-dato" *ngIf="mascota">
          <span class="tratamiento-label">Mascota:</span>
          <span class="tratamiento-info">{{ mascota.nombre }}</span>
        </div>
        <div class="tratamiento-dato" *ngIf="servicio">
          <span class="tratamiento-label">Servicio:</span>
          <span class="tratamiento-info">{{ servicio.nombre }}</span>
        </div>
        <div class="tratamiento-acciones">
          <a (click)="mostrarDetallesTratamiento(tratamiento.idTratamiento)" class="btn-detalles">Ver detalles</a>
        </div>
      </div>
    </div>

    <ng-template #noTratamientos>
      <p class="no-tratamientos-message">No hay tratamientos registrados.</p>
    </ng-template>
  </div>
</section>