<app-navegacion></app-navegacion>
<section class="citas-veterinario">
  <h2>Citas del Veterinario</h2>

  <div class="citas-container">
    <div *ngIf="citas && citas.length > 0; else noCitas">
      <div class="cita-card" *ngFor="let cita of citas">
        <div class="cita-dato">
          <span class="cita-label">Fecha:</span>
          <span class="cita-info">{{ cita.fechaHora | date:'medium' }}</span>
        </div>
        <div class="cita-dato">
          <span class="cita-label">Mascota:</span>
          <span class="cita-info">{{ cita.mascota.nombre }}</span>
        </div>
        <div class="cita-dato">
          <span class="cita-label">Dueño:</span>
          <span class="cita-info">{{ cita.mascota.cliente?.nombre }}</span>
        </div>
        <div class="cita-dato">
          <span class="cita-label">Servicio:</span>
          <span class="cita-info">{{ cita.servicio }}</span>
        </div>
        <a (click)="mostrarDetallesCita(cita.idCita)" class="btn-detalles">Ver detalles</a>
      </div>
    </div>

    <ng-template #noCitas>
      <p class="no-citas-message">No hay citas registradas para este veterinario.</p>
    </ng-template>
  </div>
</section>
